/* All the styling you need */

.simple-axe {
    position: relative; 
    width: 100%;
    height: 200px;
    overflow: hidden;
}

@media screen and (min-width: 720px) {
    .simple-axe {
        height: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .simple-axe {
        height: 500px;
    }
}


/* Styles for this demo */

* {
    margin: 0;
    padding: 0;
    font-family: "arial", sans-serif;
}

.content {
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 100px 100px;
}

h1, h2, p {
    margin-bottom: 20px;
}

.content img {
    margin-bottom: 20px;
}